body{
    margin: 0;
    padding: 0;
}
header, footer{
    background-color: darkkhaki;
    height: 20vh;
}
#main{
    display: flex;
}

#main article{
    flex: auto;
    background-color: antiquewhite;

}

#main aside{
    height: 50vh;
}

nav{
    background-color: darksalmon;
    width: 14vw;
    position: absolute;
    left: 0px;
    height: 90vh;
    top: 0px;
}

#main aside{
    background-color: thistle;
    width: 14vw;
}

header, footer{
    text-align: center;
}